.door-canvas {
  cursor: pointer;
  position: absolute;
  width: 66px;
  height: 66px;
  z-index: 999;
  .rotate-90 {
    transform: rotate(90deg);
  }
  .rotate-270 {
    transform: rotate(270deg);
  }
  .rotate-180 {
    transform: rotate(180deg);
  }
  .door-toolbar {
    display: flex;
    gap: 5px;
    position: absolute;
    top: -20px;
    right: 0;
    .toolbar-button {
      border: none;
      background-color: transparent;
    }
  }
}
